.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid var(--main-color);
    border-left-width: 0;
    border-right-width: 0;
}

.button {
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border-color: var(--main-color);
    background-color: transparent;
    color: #a076ec;
}

.input {
    height: 50px;
    border: 1px solid var(--main-color);
    border-radius: 25px;
    font-size: 20pt;
    text-align: center;
    margin: 10px;
}

.bingoNumber {
    font-size: 50pt;
    margin: 10px;
}

.date {
    white-space: pre-line
}

.bottomLeft {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.bottomRight {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.topLeft {
    position: absolute;
    top: 10px;
    left: 10px;
}

.topRight {
    position: absolute;
    top: 10px;
    right: 10px;
}

.img {
    height: 70px
}

.award {
    margin: 20px;
    color: var(--main-color);
}

.letterContainer {
    height: 80%;
    width: 80%;
    overflow: scroll;
    text-align: left;
    padding: 0 20px;
    border: 1px solid var(--main-color);
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
}

.letterContent {
    font-size: 12pt;
}